<?xml version="1.0"?>

<configuration>
	<connectionStrings>
		<add name="evajones" connectionString="Server=localhost\SQLDEV01;Database=photography;User Id=ejapp; 
			 Password=Pa$$w0rd;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.web>
    <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
